*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
    );
}

.container{
    height: 650px;
    background-color: white;
}