*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#app{
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
    );
}

.container_all{
    height: 100%;
    width: 80%;
    background-color: white;
}

.container_sx{
    width: 35%;
}

.container_dx{
    width: 65%;
}

.row_profile{
    background-color: rgba(234,234,234,255);
    width: 100%;
}

.row_newMessage{
    background-color: rgba(142,218,252,255);
}

.rounded-circle{
    height: 50px;
}

.fa-bell-slash{
    padding: 1rem;
    color: rgba(142,218,252,255);
}

.icon{
    color: rgba(177,177,177,255);
}

i{
    cursor: pointer;
}

.scroll{
    overflow-y: auto;
    cursor: pointer;
}

.bg-gray{
    background-color: rgba(233,235,235,255);
}

.font-small{
    font-size: 12px;
}

.background-image{
    background-image: url("../img/mine.jpg");
    object-fit: cover;
    background-repeat: repeat;
    height: calc(100% - 120px);
}